{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %} News {% endblock title %}

{% block content %}

<h3>Поиск</h3>

<h4>Найдено статей {{ filter.qs|length }} из {{ page_obj.paginator.count }}</h4>

<!--<h5>Сегодня: {{ time_now|date:'d M Y' }}</h5>-->


<!-- Перед таблицей добавим форму для поиска -->
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самому -->
    <input type="submit" value="Найти">
</form>

<a href="/news/"> Отобразить все статьи </a> <br>

<table>
    <thead>
        <th>Заголовок</th>
        <th>Автор</th>
        <th>Дата публикации</th>
        <th>Превью</th>
    </thead>
    {% for post in news %}
    <tr>
        <td><a href="{% url 'news:post_detail' post.id %}">{{ post.title|censor:"'" }}</a> <!-- перекинет на страницу новости -->
            <a href="{% url 'news:post_edit' post.id %}"><u>Редактировать</u></a>
            <a href="{% url 'news:post_delete' post.id %}"><u>Удалить</u></a>
        </td>
        <td>{{ post.author.authorUser|title }}</td>
        <td>{{ post.dateCreation|date:'d M Y' }}</td>
        <td>{{ post.text|censor:"'"|truncatechars:50 }}</td>
    </tr>
    {% endfor %}
</table>

<p><a href="{% url 'news:post_create' %}">Добавить статью</a></p> <br>

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
    {% endif %}
{% endif %}

{% endblock %}