{% extends "main.html" %}

{% block content %}
<div class="container"></div>
    <h2>Страница авторизованного пользователя {#{request.user.username}#} </h2>
<!--    <div> Здесь может содержаться персональная информация для каждого пользователя-->
    </div>
    <div> <h3>{{request.user.username}},
        Вы подписаны на следующие рубрики: </h3>
        <ul>
           {% for category in categories %}
            <li>
                {{ category.get.category }}
                <a href="{% url 'news:unsubscribe' cat.id %}">
                    <button class="button-xsmall pure-button button-warning">
                        <i class="bi bi-bookmark-plus"></i>
                        Unsubscribe
                    </button>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
    {% if is_not_author %}
    <div class="column">
        <form method="post" action="{% url 'sign:upgrade' %}">
            {% csrf_token %}
            <button type="submit" class="button"> Make me an Author </button>
        </form>
    </div>
    {% endif %}
    <div class="column">
        <a href="{% url 'sign:logout' %}" class="button-outline">Logout<br>
        </a><br>

    </div>
</div>
    <button> <a href="news/"> Перейти к статьям </a></button>

{% endblock %}
